.flex {
  display: flex;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
}
.f-c {
  align-items: center;
  justify-content: center;
}
.f-b {
  align-items: center;
  justify-content: space-between;
}
.container ul {
  list-style-type: none;
  gap: 50px;
  font-family: Roboto;
  margin-bottom: 0px;
}
.container a {
  text-decoration: none;
  color: black;
}
.sign-btn {
  gap: 50px;
}
.btn-s {
  background-color: #424242 !important;
  border-radius: 4px !important;
  color: white !important;
  width: 202px !important;
}
.header {
  padding: 20px 0;
  width: 100%;
}
header {
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  align-items: center;
}
.site-main {
  margin-top: 120px;
  width: 100%;
}
.guesswork-section {
  background-image: url("/assets/images/image1.svg");
  background-size: 600px 400px;
  background-position-x: 908px;
  height: 90vh;
  margin: 0px 0px 0px 0px;
  background-repeat: no-repeat;
}
.guesswork h1 {
  margin-top: 202px;
  font-size: 51px;
}
.guesswork p {
  font-size: 22px;
  margin-top: 58px;
}
.icon-div {
  background-color: #ff4b4b;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.guesswork a p {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 17px;
  margin: 0px 8px 0px 25px;
}
.guesswork a {
  width: 237px;
  margin-top: 65px;
  height: 48px;
  background-color: #ffcee0;
  border-radius: 4px;
}
.black-text-section {
  background-color: #000000;
  height: 416px;
}
.black-text-section .container {
  padding-left: 0px;
  padding-right: 145px;
}
.black-text-section .black-text {
  letter-spacing: 1.2px;
  font-size: 40px;
  line-height: 44px;
  padding-top: 70px;
  color: #ffffff;
}
.change-section {
  background: #5887ff;
  padding: 40px;
  margin: 0px 0px 0px 0px;
}
.change-section .container .title {
  font-size: 70px;
  font-family: Roboto;
  color: #000000;
  width: 688px;
  height: 93px;
}
.center .image img {
  height: 626px;
}
.center .text {
  padding: 60px 128px 0 128px;
  height: 626px;
  font-size: 24px;
  line-height: 36px;
}
.change-section .center {
  margin-top: 70px;
  margin-bottom: 75px;
}
.btn-swipe p {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 17px;
  margin: 0px 8px 0px 25px;
}
.btn-swipe {
  width: 237px;
  margin-top: 65px;
  height: 48px;
  background-color: #ffcee0;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
}
.little-text {
  font-size: 24px;
  width: 203px;
  height: 36px;
  margin-bottom: 0px;
}
.come-section .container .title {
  font-size: 30px;
  line-height: 35.2px;
  size: 30px;
  font-weight: 400px;
  width: 183px;
  height: 36px;
  margin-top: 60px;
}
.come-section .container .title p {
  margin-bottom: 0px;
}
.come-section {
  background-color: #00c27a;
  width: 100%;
}
.come-section .container {
  padding-top: 1px;
}
.come-section {
  height: 1450px;
}
.come-section .come-body .come-content .text h3 {
  letter-spacing: 3.84px;
  line-height: 92.16px;
  font-size: 82px;
  color: #ffffff;
}
.come-section .come-body .come-content .text {
  margin-bottom: 25px;
}
.come-section .come-body .text h3 {
  letter-spacing: 3.84px;
  line-height: 92.16px;
  font-size: 82px;
  color: #000000;
  padding: 15px 0 15px 0;
}
.come-section .come-body .text {
  border-bottom: #000000 5px solid;
  margin-top: 45px;
  margin-bottom: 0px;
}
.diff {
  border: 0 !important;
  margin-bottom: 0px;
}
.come-section .come-body .text-last h3 {
  letter-spacing: 3.84px;
  line-height: 92.16px;
  font-size: 82px;
  color: #000000;
  padding: 15px 0 15px 0;
}
.btn-swipe-come {
  width: 237px;
  margin-top: 0px;
  height: 48px;
  background-color: #ffed87;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
}
.come-footer .btn-swipe-come .icon-div {
  background-color: #ffaa00;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.come-footer .btn-swipe-come p {
  padding-top: 11px;
  padding-left: 27px;
}
.come-section .come-body .come-content .img-content .text-box {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  margin-top: 0px;
  width: 445px;
  height: 447px;
}
.come-section .come-body .come-content .img-content {
  border-bottom: #000000 5px solid;
  padding-bottom: 40px;
}
.come-section .come-content .img-content img {
  width: 672px;
  height: 448px;
}
.come-section .come-body .come-content .img-content .text-box h3 {
  margin-top: 36px;
  margin-left: 80px;
  margin-bottom: 26px;
  font-size: 32px;
}
.come-section .come-body .come-content .img-content .text-box p {
  font-size: 20px;
  margin-left: 80px;
}
.come-section .come-body .come-content .img-content .text-box a {
  color: #fff;
  margin-left: 80px;
  width: 136px;
  margin-top: 49px;
  font-size: 17px;
  border-bottom: #ffed87 3px solid;
}
.come-footer {
  margin-top: 50px;
}
.come-footer .come-footer-text {
  font-size: 19px;
  line-height: 30px;
}
.desk-section .desk-left {
  left: 0px;
}
.desk-section .desk-right {
  width: 50%;
  right: 0;
  height: 800px;
  background-color: #be53ff;
}
.desk-section {
  height: 800px;
  width: 100%;
}
.desk-section .desk-right .desk-right-btm .img-desc {
  background-color: #000000;
  color: #ffffff;
  height: 200px;
  text-align: left;
  padding-left: 34px;
  padding-top: 57px;
  width: 100%;
}
.desk-section .desk-right .desk-right-btm .img-desc h6 {
  font-size: 20px;
}
.desk-section .desk-right .desk-right-btm .img-desc p {
  font-size: 19px;
  line-height: 41.6px;
  padding-right: 115px;
}
.desk-section .desk-right .desk-right-btm {
  margin-top: 165px;
  width: 690.18;
}
.desk-right > p {
  font-size: 32px;
  color: #000000;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  letter-spacing: 0.96px;
}
.ibm {
  margin-top: 128px;
  margin-left: 130px;
}
.Names {
  margin-top: 317px;
  margin-left: 430px;
}
.adsk {
  margin-top: 143px;
  margin-left: 430px;
}
.desk-section .contain {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}
.desk-left {
  width: 50%;
}
.items-section {
  height: 95vh;
  background-color: #ededdb;
}
.item-cards p {
  padding-bottom: 20px;
  text-align: center;
  font-size: 32px;
  line-height: 35.2px;
  align-items: center;
  border-bottom: 5px solid;
}
.item-cards .mycard {
  text-align: center;
}
.mycard:nth-child(1) p {
  border-color: #bed7ff;
}
.mycard:nth-child(2) p {
  border-color: #ffed87;
}
.mycard:nth-child(3) p {
  border-color: #ffcee0;
}
.mycard:nth-child(4) p {
  border-color: #b4f5c8;
}
.mycard:nth-child(5) p {
  border-color: #e6bfff;
}
.items-section .item-texts h3 {
  font-size: 60px;
  line-height: 70.4px;
  letter-spacing: 1.28px;
}
.items-section .item-texts p {
  width: 306px;
  height: 108px;
  font-size: 24px;
  line-height: 36px;
}
.items-section .item-texts {
  padding-top: 100px;
}
.items-section .item-cards {
  padding-top: 100px;
}
.mur-luma-header {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.mur-luma-title {
  margin-top: 72px;
}
.mur-luma-title h6 {
  font-size: 24px;
  line-height: 36px;
  width: 620px;
  height: 108px;
}
.mur-luma-title p {
  padding-top: 0;
  margin-top: 20px;
  font-size: 17px;
  line-height: 23.4px;
  width: 276px;
  height: 24px;
  border-bottom: #b4f5c8 solid 3px;
}
.mur-luma-main h3 {
  font-size: 39px;
  line-height: 52px;
  letter-spacing: 1.2px;
}
.mur-luma-main {
  padding-top: 65px;
  gap: 90px;
}
.mur-luma-main .mur-luma-main-table .table-item {
  display: flex;
  gap: 160px;
  padding-top: 15px;
  border-top: #000000 solid 1px;
}
.mur-luma-main .mur-luma-main-table .table-item p {
  font-size: 20px;
  line-height: 30px;
}
.mur-luma-main .mur-luma-main-table .table-item h5 {
  font-size: 29px;
  line-height: 35.2px;
  letter-spacing: 0.96px;
  width: 119.443px;
}
.mur-luma-main .mur-luma-main-table .table-item:nth-child(2) p {
  padding-left: 40px;
}
.mur-luma-main .mur-luma-main-table .table-item:nth-child(3) p {
  padding-left: 52px;
}
.mur-luma-main .mur-luma-main-table a {
  background-color: #b4f5c8;
  width: 345px;
  height: 48px;
  border-radius: 4px;
}
.mur-luma-main .mur-luma-main-table .icon-div-tb {
  background-color: #00c27a;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.mur-luma-main-table a p {
  padding-left: 35px;
  padding-top: 13px;
}
.mur-luma-footer-text {
  width: 590px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.sap-section {
  background-color: #ededdb;
  height: 674px;
}
.sap-section .container {
  height: 674px;
  display: flex;
  justify-content: space-around;
}
.pic-side {
  display: flex;
  align-items: flex-end;
}
.text-side h1 {
  font-size: 63px;
  letter-spacing: 1.28px;
  line-height: 70.4px;
  width: 450px;
  margin-top: 70px;
}
.text-side p {
  font-size: 24px;
  width: 485px;
  line-height: 36px;
  margin-top: 50px;
}
.text-side {
  margin: 0px 0px;
  width: 668px;
  padding: 0px 0px;
}
.text-side a {
  width: 237px;
  height: 48px;
  margin-top: 50px;
  border-radius: 4px;
  background-color: #e6bfff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-side .icon-div-sget {
  width: 48px;
  padding: 0 19.5px;
  height: 48px;
  border-radius: 4px;
  background-color: #be53ff;
}
.text-side a p {
  text-align: center;
  padding: 0px 0px;
  margin: 0px;
}

.hand {
  height: 150vh;
  width: 80%;
  margin: 0 auto;
}
.hand .p {
  font-size: 25px;
  height: 10%;
  display: flex;
  align-items: end;
}
.hand .h1 {
  height: 15%;
  display: flex;
  align-items: start;
  width: 55%;
}
.hand .boxes {
  display: flex;
  height: 75%;
}
.hand .boxes .box-1 {
  width: 30%;
}
.hand .boxes .box-2 {
  width: 70%;
}
.hand .boxes .box-2 .table-item {
  display: flex;
  gap: 160px;
  padding-top: 15px;
  border-top: #000000 solid 1px;
  margin-top: 20px;
}
.hand .boxes .box-2 .table-item p {
  font-size: 20px;
  line-height: 30px;
}
.hand .boxes .box-2 .table-item h5 {
  font-size: 29px;
  line-height: 35.2px;
  letter-spacing: 0.96px;
  width: 119.443px;
}
.hand .boxes .box-2 a {
  margin-top: 20px;
  background-color: #BED7FF;
  width: 345px;
  text-decoration: none;
  color: black;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.hand .boxes .box-2 a .icon-div-tb {
  background-color: #5887FF;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.hand .boxes .box-2 a p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mur-luma-footer-text {
  width: 590px;
  margin-top: 80px;
  margin-bottom: 70px;
  font-size: 15px;
}

.big-btn-section {
  background-color: #fc83ff;
  height: 886px;
  gap: 0px;
  opacity: 0px;
}
.big-btn-section .container {
  height: 886px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.big-btn-section h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.6399999856948853px;
  text-align: center;
}
.big-btn-section a p {
  font-weight: 400;
  line-height: 195px;
  font-size: 103px;
  letter-spacing: 6.5px;
  text-align: left;
  color: #000000;
}
.big-btn-section a {
  width: 875px;
  text-decoration: none;
  height: 371px;
  border-radius: 0px 18px 18px 0px;
  border-left: #000000 solid 40px;
  background: #ffe146;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
footer {
  background: #ededdb;
  height: 600px;
}
.footer-ft {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 100px;
  padding-top: 70px;
}
footer .container {
  height: 600px;
}
footer .footer {
  height: 600px;
}
.footer-links{
  font-size: 16px;
  line-height: 28px;
}
.footer-links ul li h4{
  padding-bottom: 20px;
}
.footer-links {
  padding-top: 60px;
}